*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    height: 100%;
}
body{
    /* font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif; */
    height: 100%;
}
a {
    text-decoration: none;
}
.container{
    width: 100%;
    max-width: 1140px;
    padding: 0 2rem;
    margin: auto;
}

.line{
    width: 100%;
    height: 5px;
    background-color:#FF7500;
}
.uni-btn{
    display: inline-block;
}
/* header */
.header {
    background-color:rgb(255, 255, 255);
}
.nav-con{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.navigation {
    width: 100%;
    min-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo {
    padding: 16px;
}
.nav-logo-img {
    width: 227px;
    height: 60px;
}
.nav-list {
    display: flex;
    align-items: center;
}
.nav-list-item:not(:last-child) {
    margin-right: 3.2rem;
}

.nav-list-item a:hover{
    color:#FF7500;
    opacity: 80%;
}
.nav-list-item a:active{
    color: #FF7500;
    opacity: 60%;
}
.nav-list-item a{
    color: #000000;
}
.nav-list-item{
    
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 500;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}
.orange-btn:hover{
    opacity: 80%;

}
.orange-btn:active{
    opacity: 60%;

}
.orange-btn{
    padding: 12px 24px;
    color: #fff;
    background-color: #FF7500;
    border-radius: 4px;
    letter-spacing: 0.01rem;
    line-height: 15.23px;
    font-size: 1.3rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
/* main section */
.main {
}
.hero {
    
    background-color:#252420;
    
}
.hero-con{
    display: flex;
    justify-content: space-between;
}
.hr {
    width: 80px;
    height: 3px;
    background-color: #FF7500;
    margin-top: 80px;
    margin-bottom: 40px;
}
.hero-title {
    color: #fff;
    font-size: 4rem;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.05rem;
    margin-bottom: 2.4rem;
    font-family: 'Roboto Condensed', sans-serif;
}
.hero-text {
    color: #fff;
    width: 387px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: 0.05rem;
    margin-bottom: 3.2rem;
    font-family: 'Roboto', sans-serif;
}
.orange-btn {
    
    letter-spacing: 0.05rem;
    line-height: 15.23px;
    font-size: 1.3rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.hero-img{
    border-radius: 0.8rem;
    margin-top: 40px;
    margin-bottom: -62px;
    filter: drop-shadow(24px 24px 0px rgba(255, 117, 0, 0.6));
}
/* main */
.main {
    padding: 148px 0 210px 0;
}

.main-title {
    width: 435px;
    font-size: 7.2rem;
    line-height: 86.4px;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 7.2rem;
}
.main-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-item {
}
.span {
    width: 100px;
    height: 100px;
    border-radius:50%;
    display: inline-block;
    background-color: #FF750033;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3.2rem;
}
.item-wrap {
}

.wrap-title {
    font-size: 2.4rem;
    line-height: 28.8px;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 1.2rem;
}
.wrap-text {
    width: 314px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 24px;
    letter-spacing: 0.05rem;
    font-family: 'Roboto', sans-serif;
}
/* features */
.features{
    background-color: #fff;
}
.features-con{
    border-radius: 1.2rem;
    width: 1100px;
    background-color: #252420;
}
.features-wrap {
    margin: 6.4rem 0 2.4rem 6.4rem;
}
.features-con{
    display: flex;
    justify-content: space-between;
    
}
.features-title {
    width:373px;
    color: #fff;
    margin-bottom: 2.4rem;
    font-weight: 700;
    font-size: 4rem;
    line-height: 48px;
    letter-spacing: 0.05rem;
    font-family: 'Roboto Condensed', sans-serif;
}

.features-text {
    width: 440px;
    color: #fff;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: 0.05rem;
    font-family: 'Roboto', sans-serif;
}
.text-marg{
    margin-bottom: 2.4rem;
}
.orange-text {
    color: #FF7500;
}

.br{
    margin-bottom: 1.2rem;
}
.features-img{
    border-radius: 1.2rem;
    margin-top: -8.5rem;
    margin-bottom: 6.4rem;
    margin-right: 4.4rem;
}
/* footer */
.footer {
    background-color: #F8F8F8;
}
.footer-top {
}

.footer-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-link:not(:last-child) {
    margin-right: 1.6rem;
}

.footer-logo-link{
    margin-top: 5.6rem;
    margin-bottom: 4rem;
}
.footer-logo-link:hover{
    
}
.social-icon:hover{
    color:#FF7500; 

}
.footer-bottom {
}
.horisontal-line {
    width: 100%;
    height: 2px;
    color: #25242080;
    margin-bottom: 6.4rem;
}
.footer-list {
    display: flex;
    justify-content: space-between;
}
.footer-item {
    line-height: 16px;
}
.footer-items:last-child{
    padding-bottom: 5.6rem;

}
.footer-items {
    color:#252420;
    font-size: 1.6rem;
    line-height: 18.75px;
    margin-bottom: 1.6rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}